.survey-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.survey-form {
  background: white;
  border-radius: 20px;
  padding: 3rem;
  width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.question-header {
  margin-bottom: 2rem;
  text-align: center;
}

.question-header h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.question-text {
  text-align: center;
  margin-bottom: 2rem;
}

.question-text p {
  font-size: 1.2rem;
  color: #000;
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.option {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.option:hover {
  background-color: #f5f5f5;
}

.option.selected {
  background-color: #6c5ce7;
  color: white;
  border-color: #6c5ce7;
}

.input-container input {
  width: 570px;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.input-container input:focus {
  outline: none;
  border-color: #6c5ce7;
}

.numeric-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.numeric-option {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.numeric-option:hover {
  background-color: #f5f5f5;
}

.numeric-option.selected {
  background-color: #6c5ce7;
  color: white;
  border-color: #6c5ce7;
}

.submit-button {
  border: none;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.submit-button {
  background-color: #3f1dff;
  color: white;
  display: block;
 margin-left: 390px;
 margin-bottom: 30px;
  width: 150px;
}

.submit-button:hover {
  background-color: #07327d;
}

.progress-bar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.progress-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e0e0e0;
  transition: all 0.3s ease;
}

.progress-dot.active {
  background-color: #6c5ce7;
  transform: scale(1.2);
}

.progress-dot.completed {
  background-color: #6c5ce7;
}

.review-form {
  max-width: 1000px;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.answer-card {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.answer-card h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 0 0 1rem 0;
}

.answer-text {
  color: #4b5563;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}